<!doctype html>
<html>

	<head>
		<title>deploy Application</title>
	</head>
   <link rel="stylesheet" type="text/css" href="style.css">

   <body>


     <div></div><div>
          <img src="{{ url_for('static', filename='img.gif') }}" style="margin-top:50px;width:500px;height: 500px;margin-left:500px;">
          <h1 style="color:#259672;font-size:50px;font-family: Calibri;letter-spacing: 2px;margin-left:400px">Deployment All are Completed </h1>

     </div>
<p style="margin-top:50px;text-align:center">Copyright © Narikootam</p>
   </body>

</html>

